body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form_item{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 20px;
}
.username{
  display: inline-block;
}
.time{
  display: inline-block;
}
.username-time{
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}
.message{
  width: 500px;
  margin-bottom: 10px;
}
.content{
  border: 1px solid gray;
  border-top-width: 0px;
  overflow-wrap: break-word;
  
}
#message{
  width: 500px;
}
.title{
  border: 1px solid gray;
  border-top-width: 0px;
}
.menu{
  display: flex;
  justify-content: flex-start;
  width: 500px;
}
.item{
  margin-right: 10px;
}
